/* @import url('./modules/_common.css');
@import url('./modules/_header.css');
@import url('./modules/_hero.css');
@import url('./modules/_contents.css');
@import url('./modules/_service.css');
@import url('./modules/_footer.css');
@import url('./modules/_utils.css');
@import url('./modules/_jQuery.css'); */

.l-header {
  height: 100px;
  width: 100vw;
  background: rgba(255, 255, 255, 0.87);
}

.fix-header {
  position: fixed;
  display: flex;
  top: -70px;  
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 2em;
  text-align: center;
  color: #fff;
  background: black;
  box-sizing: border-box;
  transition: .5s;
}

.fix-headerImage{
  width: 100%;
  height: 100px;
}

.fix-headerContent{
  display: flex;
}

.nav-list{
  list-style: none;
  text-decoration: none;
}

.fix-header.is-show {
  top: 0;
}
.content {
  height: 2000px;
  display: none;
}

.l-mainTop{
  display: flex;
  justify-content: center;
  padding: 16px 0 17px;
}

.l-mainTop__image{
  width: 135px;
  height: 85px;
}

.l-mainModel{
  width: 100%;
}

.slide{
  max-width: 80%;
  width: 80%;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}

.l-mainModel__image {
  width: 100%;
}

.l-mainModel__image img{
  width: 100%;
  height: 480px;
}

.l-mainMessage{
  margin: 33px 0 22px;
  padding: 0 20px;
  text-align: center;
}

.l-mainMessage a{
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 30px 0.5em 0.3em;
  margin: 0 auto;
  color: #222;
  font-weight: 700;
  font-size: 22%;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.08em;
  border-bottom: 3px solid;
  position: relative;
}

.l-mainMessage a::after{
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 10px;
  top: calc(50% - 2px);
  border-top: solid 3px;
  border-right: solid 3px;
  transform: rotate(45deg) translateY(-50%);
  color: inherit;
}

.l-mainTitle{
  width: 100%;
  padding: 77px 0 20px;
  text-align: center;
}

.l-mainTitle__style{
  font-size: medium;
  color: red;
}